/Laboratorio2_IA_CRR_FBDP/nbproject/private/
/Laboratorio1_2_IA_CRR_FBDP/Laboratorio3_IA_CRR_FBDP/nbproject/private/
/Laboratorio1_2_IA_CRR_FBDP/Laboratorio3_IA_CRR_FBDP/build/
/Laboratorio3_IA_CRR_FBDP/nbproject/private/
/Laboratorio1_2_IA_CRR_FBDP/Proyecto3_Distribuidos_INe/nbproject/private/
/Laboratorio4_IA_CRR_FBDP/nbproject/private/
/Laboratorio5_IA_CRR_FBDP/nbproject/private/
/Laboratorio5_IA_CRR_FBDP/build/
/Laboratorio6_IA_CRR_FBDP/nbproject/private/
/Laboratorio6_IA_CRR_FBDP/build/
